<a href="https://colab.research.google.com/github/ali-rn/wrangling/blob/main/wrangling_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`

In [3]:
! git clone https://github.com/ali-rn/wrangling

Cloning into 'wrangling'...
remote: Enumerating objects: 63, done.
remote: Counting objects: 100% (27/27), done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 63 (delta 19), reused 8 (delta 8), pack-reused 36
Receiving objects: 100% (63/63), 6.25 MiB | 20.85 MiB/s, done.
Resolving deltas: 100% (24/24), done.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  **This paper is about a new standard of data called "tidy data" and a specific kind of way to data wrangle called "data tidying". Tidy datasets have a specific structure that make them easy to analyze and manipulate.**
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
**It is meant to make the initial steps of analysis and exploration of data easier**

  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way."
**Tidy datasets follow a certain standard and layout that make them easy to compare interoperable with tidy tools. But messy, unstandardized datasets lack these commonalities**

  What does this sentence mean: "For a given dataset, itâ€™s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general." **Different variables/names could have different meanings depending on the context and relationship with other variables. A variable could be quantitative in one and then qualitative in another. Variables are better defined in terms of their relationships with other variables rather than in general**

  4. Read Section 2.2. How does Wickham define values, variables, and observations? **Value - the specific data point, can be quantitative or qualitative
Variable - all values under a particular attribute, like height
Observation - all values under a particular case, person, group, etc.**

  5. How is "Tidy Data" defined in section 2.3? **it gives a more detailed definition of the Tidy Data standard: must have variables as columns, observations as rows, and each unit of observation forms a table. Any data that isn't tidy is messy**

  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset? **1. Column headers are values 2. multiple variables in one column; 3. variables in both rows and columns; 4. multiple observational units in one table; 5. one observational unit in multiple tables**

  **The data in table 4 are messy because variables form both columns and rows and the column headers are values rather than variable names.**

  **melting means stacking. Making a new variable for the column values and repeating them for each row variable which forms another column. Now, each row is a single observation.**
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  **Table 11 has multiple observational units whereas Table 12 only has one**
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

  **tidy tools become linked to tidy data, and tidy data are only as useful as tidy tools**

  **Wickham hopes that other frameworks are developed to make other kinds of data wrangling tasks, like identifying missing values and partsing dates, easier**

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [4]:
import numpy as np
import pandas as pd

#Q2.1

df = pd.read_csv('./wrangling/assignment/data/airbnb_hw.csv',low_memory=False)

#print(df.shape, '\n') # List the dimensions of df
#print(df.dtypes, '\n') # The types of the variables; `object` is a bad sign
#print(df.columns, '\n') # First five column names

var = 'Price'
print(df[var].unique(),'\n')

df[var] = df[var].str.replace(',','')
df[var] = pd.to_numeric(df[var], errors = 'coerce')

df['Price_NA'] = df[var].isnull()

print(sum(df['Price_NA']),'\n')

print(df[var].unique(),'\n')

['145' '37' '28' '199' '549' '149' '250' '90' '270' '290' '170' '59' '49'
 '68' '285' '75' '100' '150' '700' '125' '175' '40' '89' '95' '99' '499'
 '120' '79' '110' '180' '143' '230' '350' '135' '85' '60' '70' '55' '44'
 '200' '165' '115' '74' '84' '129' '50' '185' '80' '190' '140' '45' '65'
 '225' '600' '109' '1,990' '73' '240' '72' '105' '155' '160' '42' '132'
 '117' '295' '280' '159' '107' '69' '239' '220' '399' '130' '375' '585'
 '275' '139' '260' '35' '133' '300' '289' '179' '98' '195' '29' '27' '39'
 '249' '192' '142' '169' '1,000' '131' '138' '113' '122' '329' '101' '475'
 '238' '272' '308' '126' '235' '315' '248' '128' '56' '207' '450' '215'
 '210' '385' '445' '136' '247' '118' '77' '76' '92' '198' '205' '299'
 '222' '245' '104' '153' '349' '114' '320' '292' '226' '420' '500' '325'
 '307' '78' '265' '108' '123' '189' '32' '58' '86' '219' '800' '335' '63'
 '229' '425' '67' '87' '1,200' '158' '650' '234' '310' '695' '400' '166'
 '119' '62' '168' '340' '479' '43' '395' '144' '52' '47' '529' '187' '209'
 '233' '82' '269' '163' '172' '305' '156' '550' '435' '137' '124' '48'
 '279' '330' '5,000' '134' '378' '97' '277' '64' '193' '147' '186' '264'
 '30' '3,000' '112' '94' '379' '57' '415' '236' '410' '214' '88' '66' '71'
 '171' '157' '545' '1,500' '83' '96' '1,800' '81' '188' '380' '255' '505'
 '54' '33' '174' '93' '740' '640' '1,300' '440' '599' '357' '1,239' '495'
 '127' '5,999' '178' '348' '152' '242' '183' '253' '750' '259' '365' '273'
 '197' '397' '103' '389' '355' '559' '38' '203' '999' '141' '162' '333'
 '698' '46' '360' '895' '10' '41' '206' '281' '449' '388' '212' '102'
 '201' '2,750' '4,750' '432' '675' '167' '390' '298' '339' '194' '302'
 '211' '595' '191' '53' '361' '480' '8,000' '4,500' '459' '997' '345'
 '216' '218' '111' '735' '276' '91' '490' '850' '398' '36' '775' '267'
 '625' '336' '2,500' '176' '725' '3,750' '469' '106' '460' '287' '575'
 '227' '263' '25' '228' '208' '177' '880' '148' '116' '685' '470' '217'
 '164' '61' '645' '699' '405' '252' '319' '268' '419' '343' '525' '311'
 '840' '154' '294' '950' '409' '184' '257' '204' '241' '2,000' '412' '121'
 '288' '196' '900' '647' '524' '1,750' '309' '510' '1,495' '1,700' '799'
 '383' '372' '492' '327' '1,999' '656' '224' '173' '875' '1,170' '795'
 '690' '146' '465' '1,100' '151' '274' '429' '825' '282' '256' '1,111'
 '620' '271' '161' '51' '855' '579' '1,174' '430' '20' '899' '649' '485'
 '181' '455' '4,000' '243' '342' '590' '560' '374' '437' '232' '359' '985'
 '31' '244' '254' '723' '237' '428' '370' '34' '1,400' '580' '2,520' '221'
 '749' '1,600' '2,695' '306' '202' '680' '570' '520' '223' '2,295' '213'
 '1,065' '346' '24' '286' '296' '266' '26' '995' '1,368' '393' '182' '635'
 '258' '780' '589' '347' '1,250' '1,350' '446' '3,200' '1,050' '1,650'
 '1,550' '975' '323' '6,500' '2,499' '1,850' '2,250' '715' '461' '540'
 '356' '439' '384' '569' '1,900' '22' '785' '626' '830' '318' '444' '321'
 '401' '1,499' '888' '369' '770' '386' '366' '344' '630' '313' '597' '262'
 '509' '10,000' '278' '312' '789' '1,195' '422' '21' '765' '3,500' '945'
 '326' '3,100' '2,486' '3,390' '1,356' '2,599' '472' '454' '328' '396'
 '291']

0

[  145    37    28   199   549   149   250    90   270   290   170    59
    49    68   285    75   100   150   700   125   175    40    89    95
    99   499   120    79   110   180   143   230   350   135    85    60
    70    55    44   200   165   115    74    84   129    50   185    80
   190   140    45    65   225   600   109  1990    73   240    72   105
   155   160    42   132   117   295   280   159   107    69   239   220
   399   130   375   585   275   139   260    35   133   300   289   179
    98   195    29    27    39   249   192   142   169  1000   131   138
   113   122   329   101   475   238   272   308   126   235   315   248
   128    56   207   450   215   210   385   445   136   247   118    77
    76    92   198   205   299   222   245   104   153   349   114   320
   292   226   420   500   325   307    78   265   108   123   189    32
    58    86   219   800   335    63   229   425    67    87  1200   158
   650   234   310   695   400   166   119    62   168   340   479    43
   395   144    52    47   529   187   209   233    82   269   163   172
   305   156   550   435   137   124    48   279   330  5000   134   378
    97   277    64   193   147   186   264    30  3000   112    94   379
    57   415   236   410   214    88    66    71   171   157   545  1500
    83    96  1800    81   188   380   255   505    54    33   174    93
   740   640  1300   440   599   357  1239   495   127  5999   178   348
   152   242   183   253   750   259   365   273   197   397   103   389
   355   559    38   203   999   141   162   333   698    46   360   895
    10    41   206   281   449   388   212   102   201  2750  4750   432
   675   167   390   298   339   194   302   211   595   191    53   361
   480  8000  4500   459   997   345   216   218   111   735   276    91
   490   850   398    36   775   267   625   336  2500   176   725  3750
   469   106   460   287   575   227   263    25   228   208   177   880
   148   116   685   470   217   164    61   645   699   405   252   319
   268   419   343   525   311   840   154   294   950   409   184   257
   204   241  2000   412   121   288   196   900   647   524  1750   309
   510  1495  1700   799   383   372   492   327  1999   656   224   173
   875  1170   795   690   146   465  1100   151   274   429   825   282
   256  1111   620   271   161    51   855   579  1174   430    20   899
   649   485   181   455  4000   243   342   590   560   374   437   232
   359   985    31   244   254   723   237   428   370    34  1400   580
  2520   221   749  1600  2695   306   202   680   570   520   223  2295
   213  1065   346    24   286   296   266    26   995  1368   393   182
   635   258   780   589   347  1250  1350   446  3200  1050  1650  1550
   975   323  6500  2499  1850  2250   715   461   540   356   439   384
   569  1900    22   785   626   830   318   444   321   401  1499   888
   369   770   386   366   344   630   313   597   262   509 10000   278
   312   789  1195   422    21   765  3500   945   326  3100  2486  3390
  1356  2599   472   454   328   396   291]

Commas were removed because values >999 may have a comma in them. Dollar signs were removed because some of the prices may have been inputted in the standard USD format that has $ in the front of it.

I ended up with 0 missing values because the replace ,/$ methods and the numeric coercion turned everything into int64 data types.

In [5]:
#2.2

df = pd.read_csv('./wrangling/assignment/data/sharks.csv',low_memory=False)

var = 'Type'

print(df[var].unique(),'\n')
df[var].value_counts()

['Unprovoked' 'Provoked' 'Questionable' 'Watercraft' 'Unconfirmed'
 'Unverified' 'Invalid' 'Under investigation' 'Boating' 'Sea Disaster' nan
 'Boat' 'Boatomg']

Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: Type, dtype: int64

In [40]:
#merge similar categories to Watercraft
df[var] = df[var].replace(['Boatomg','Boating','Boat','Watercraft','Sea Disaster'],'Watercraft')

#replace all missing types with nan
df[var] = df[var].replace(['Under investigation','Unverified','Unconfirmed','Questionable','Invalid'], np.nan)

df[var].value_counts()

Unprovoked    4716
Provoked       593
Watercraft     583
Name: Type, dtype: int64

In the type of shark attack, there are several different ways that an accident related to a boat or watercraft was described, so I merged them under "Watercraft"

There's also many different missing types and their differences seemed trivial, so I made them all NaN/missing

2.3: Dummy variable: For the pretrial data covered in the lecture, clean the WhetherDefendantWasReleasedPretrial variable as well as you can, and, in particular, replace missing values with np.nan.

In [54]:
#2.3
url = 'http://www.vcsc.virginia.gov/pretrialdataproject/October%202017%20Cohort_Virginia%20Pretrial%20Data%20Project_Deidentified%20FINAL%20Update_10272021.csv'

df = pd.read_csv(url, low_memory = False)
var = 'WhetherDefendantWasReleasedPretrial'

df[var].value_counts()

1    19154
0     3801
9       31
Name: WhetherDefendantWasReleasedPretrial, dtype: int64

In [55]:
pretrialRelease = df[var]

pretrialRelease = pretrialRelease.replace(9,np.nan)
print(pretrialRelease.value_counts())

df[var] = pretrialRelease

print(df[var].value_counts())

1.0    19154
0.0     3801
Name: WhetherDefendantWasReleasedPretrial, dtype: int64
1.0    19154
0.0     3801
Name: WhetherDefendantWasReleasedPretrial, dtype: int64

2.4: Missing values, not at random: For the pretrial data covered in the lecture, clean the ImposedSentenceAllChargeInContactEvent variable as well as you can, and explain the choices you make. (Hint: Look at the SentenceTypeAllChargesAtConvictionInContactEvent variable.)

In [56]:
imposed = df['ImposedSentenceAllChargeInContactEvent']
sType = df['SentenceTypeAllChargesAtConvictionInContactEvent']

imposed = pd.to_numeric(imposed,errors='coerce')

print(len(imposed))

imposedNA = imposed.isnull()

print(sum(imposedNA))
print(sType.value_counts)
print(pd.crosstab(imposedNA,sType))

22986
9053
<bound method IndexOpsMixin.value_counts of 0        9
1        0
2        1
3        1
4        4
        ..
22981    4
22982    9
22983    4
22984    4
22985    4
Name: SentenceTypeAllChargesAtConvictionInContactEvent, Length: 22986, dtype: int64>
SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914     0    0
True                                                 0     0    0  8779  274

In [57]:
imposed = imposed.mask(sType == 4, 0) #cases dismissed set to 0 imposed time
imposed = imposed.mask(sType == 9, np.nan) #unknowns replaced with a null

imposedNA = imposed.isnull()
print(sum(imposedNA))
print(pd.crosstab(imposedNA,sType))

df['ImposedSentenceAllChargeInContactEvent'] = imposed

del imposed, sType

274
SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914  8779    0
True                                                 0     0    0     0  274

A case type of 4 denotes that charges were dismissed. This means the imposed sentence time should be 0.

Moreover, a case type of 9 denotes an unknown charge/missing information, so imposed time should be null.

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.



1. How did the most recent US Census gather data on race?

The Census Bureau collects race data based on self-identification.

Source: https://www.census.gov/topics/population/race.html#:~:text=The%20Census%20Bureau%20collects%20race,be%20of%20any%20ethnic%20origin.

2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?

This data is pertinent to research being done on specific groups, like in health and politics, namely civil rights. This helps gov make decisions on funding for programs for specific groups. It's important that this data is accurate because it affects a lot of policy making and research.

Source: https://www.census.gov/acs/www/about/why-we-ask-each-question/race/#:~:text=Local%2C%20state%2C%20tribal%2C%20and,or%20services%20for%20specific%20groups.


3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?

The Census does a good job of holistically collecting data on the US population that informs research and policy making. One area where they fall short however is the conflation of several ethnic groups with the "White" race.

As someone with a Persian/Middle Eastern background, I feel misrepresented when I am conflated with any other white American of European/Caucasian descent. For one, my experience is far different from those of Irish or German descent. Second, the white category fails to recognize the diversity of Arab, North African, Persian, and Turkish populations.

In the future, the US census could expand the available options of race to include "Middle Eastern/North African (MENA)". One good practice that could be expanded upon is the write-in option for subcategories/ethnicities under white. They could include this under a separate MENA category which provides a distinction between European and MENA descent.

Approximately 3.5 million respondents selected a MENA descent write-in category which demonstrates the need for a separate race category. This conflation leads to low quality in determining health outcomes, socioeconomic status, and political representation of Arab and Persian populations.

Source: https://www.census.gov/library/stories/2023/09/2020-census-dhc-a-mena-population.html#:~:text=and%20Alli%20Coritz-,Lebanese%2C%20Iranian%20and%20Egyptian%20populations%20represented%20nearly%20half%20of%20the,to%20specifically%20solicit%20MENA%20responses.

4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.

In the American Community Survery, only sex assigned at birth is asked about. Providing other questions about current gender and sexual orientation will better illustrate the diversity of the US and provide more information to researchers trying to examine health outcomes and livelihood of individuals that are part of the LGBTQ+ community and do not fall into traditional heteronormative categories.


5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?

Imputation is virtually impossible. Also, there may also be multiple types of missing data (i.e., Decline to Answer, Other, Don't Know, etc.). Some good practices would be to exclude individuals with missing data for any of the protected characteristics from any studies on that respective protected group. This is assuming that the number of people who do not answer would be relatively negligible.

6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?

There is no way to tell what race, gender, sex, or sexuality is from the other data you have about them. These kinds of variables are purely categorical and vary greatly from person to person. These characteristics are also private and confidential, so a lot of the times when this kind of data is missing, it's for a legitimate reason, which makes imputing that data at best, inaccurate, and at worst, unethical.